.list-group-item:hover {
    cursor:pointer;
}
.list-group-item input.add-sub-project {
    display:none;
}
.list-group-item input.edit-project {
    display:none;
}

.list-group-item.edit .edit-project {
    display:block;
}
.list-group-item.edit .view {
    display:none;
}
.list-group-item.form-add-sub-project input.add-sub-project {
    display:block;
}
