/*
 * NOTES
 */
.list-group-item div.add-sub-note {
    display:none;
}
.list-group-item.form-add-sub-note div.add-sub-note {
    display:block;
}
/*
 * TASKS
 */

.list-group-item .edit-task {
    display:none;
}
.list-group-item input.add-sub-task {
    display:none;
}
.list-group-item .edit-note {
    display:none;
}

.delimetr {
    height:40px; 
    display:inline-block;
    float:left;
}
.list-group-item .tools {
    display:none;
    float:right;
}
.list-group-item .glyphicon:hover {
    color:#888888;
}
.list-group-item:hover .tools {
    display:block;
}

.list-group-item.edit .edit-task {
    display:block;
}
.list-group-item.edit .edit-note {
    display:block;
}

.list-group-item.edit .view {
    display:none;
}
.list-group-item.form-add-sub-task input.add-sub-task {
    display:block;
}
